<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Contact</th>
      <th scope="col">Action </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of Users; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.contact }}</td>
      <td>
        <span (click)="removeUser(user)" class="text-danger">Delete</span> &nbsp;
        <span routerLink="/update-user/{{user.id}}" class="text-primary">Edit</span>
      </td>
    </tr>
  </tbody>
</table>
